@import url(./style.css);

@media (max-width: 1800px), (max-height: 780px) {
    .nav{
        gap: 20px;
        padding: 30px 0 0;
    }

    .playlist__item{
        padding: 20px 0;
    }

    .nav__item{
        gap: 10px;
        padding: 5px 30px;
    }

    .download{
        display: none;
    }

    .albums__hover{
        padding: 10px;
    }
}

@media (max-width: 1450px) {

    .center{
        padding:30px 330px 100px;
    }

    .profile__name{
        font-size: 14px;
        line-height: 20px;
    }

    .banner__img{
        max-height: 260px;
    }

    .albums{
        gap: 20px;
        grid-template-columns: repeat(3, minmax(auto, 300px));
    }

    .albums__number{
        display: none;
    }

    .albums__title{
        font-size: 14px;
        line-height: 16px;
    }
    
    .albums__author{
        font-size: 10px;
        line-height: 15px;
    }

    .albums__play{
        width: 40px;
        height: 40px;
    }
    

    .logo{
        padding: 20px;
    }

    .rigth .header{
        padding: 25px 30px;
    }

    .player{
        padding: 10px;
    }

    .track{
        gap: 15px;
    }

    .track__cover{
        min-width: 60px;
        height: 60px;
    }

    .play-icons{
        gap: 10px;
    }

    .nav{
        padding: 30px 0 0;
        gap: 30px;
    }

    .download{
       display: none;
    }

    .timeline__progress{
        width: 30vw;
    }

    .timeline__progress::-webkit-progress-bar {
        width: 30vw;
    }
    
    .timeline__progress::-moz-progress-bar {
        width: 30vw;
    }

    .audio{
        gap: 10px;
    }
}

@media (max-width: 1024px) {

    .center{
        padding:30px 250px 100px;
    }

    .banner__img{
        max-height: 200px;
    }

    .albums{
        grid-template-columns: repeat(3, minmax(auto, 200px));
    }

    .left, .rigth{
        width: 220px;
    }

    .nav{
        padding: 20px 0 0;
    }

    .nav__item{
        padding: 10px 15px;
    }

    .nav__text{
        font-size: 14px;
        line-height: 20px;
    }

    .rigth .header{
        padding: 25px 20px;
    }

    .playlist{
        padding: 20px 10px 0;
    }

    .playlist__item{
        padding: 10px 0;
    }
}

@media (max-width: 992px) {

    .search{
        padding: 0 10px;
    }
    
    .search__input{
        height: 40px;
        
        font-size: 14px;
        line-height: 30px;
    }

    .profile__photo{
        height: 40px;
        min-width: 40px;
    }

    .profile__name {
        font-size: 10px;
        line-height: 15px;
    }

    .banner__text {
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .albums{
        grid-template-columns: repeat(2, minmax(auto, 150px));
    }

    .track__cover {
        min-width: 40px;
        height: 40px;
    }

    .track__title {
        font-size: 14px;
        line-height: 20px;
    }

    .track__author {
        font-size: 10px;
        line-height: 15px;
    }

    .play-icons__item, .audio__icon {
        width: 20px;
        height: 20px
    }
}

@media (max-width: 768px), (max-width: 768px) and (max-height: 768px) and (orientation: landscape) {

    .center{
        padding:30px 30px 100px;
    }

    .banner, .left, .rigth{
        display: none;
     }

     .albums {
        grid-template-columns: repeat(4, minmax(auto, 300px));
    }

    .track__text{
        max-width: 50px;
    }

    .track__title, .track__author{
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .play-icons__item, .audio__icon {
        width: 15px;
        height: 15px
    }

    .value {
        font-size: 12px;
        line-height: 15px;
    }

    .timeline__progress{
        width: 20vw;
        height: 5px;
    }

    .timeline__progress::-webkit-progress-bar {
        width: 20vw;
        height: 5px;
    }
    
    .timeline__progress::-moz-progress-bar {
        width: 20vw;
        height: 5px;
    }

    .audio__progress{
        width: 10vw;
        height: 5px;
    }
    
    .audio__progress::-webkit-progress-bar {
        width: 10vw;
        height: 5px;
    }
    
    .audio__progress::-moz-progress-bar {
        width: 10vw;
        height: 5px;
    }

}

@media (max-width: 576px) {

    .center{
        padding-bottom: 180px;
    }

    .albums {
        grid-template-columns: repeat(2, minmax(auto, 150px));
    }

    .track{
        justify-content: center;
    }

    #play{
        justify-content: center;
    }

    .play-icons__item{
        width: 25px;
        height: 25px;
    }

    .player{
        display: grid;
        grid-template-areas: 'track track'
                            'play play'
                            'timeline repeat';
        justify-content: center;
        grid-gap: 20px;
    }

    .audio{
        display: none;
    }

    .track__text {
        max-width: fit-content;
    }

    .timeline__progress{
        width: 40vw;
    }

    .timeline__progress::-webkit-progress-bar {
        width: 40vw;
    }
    
    .timeline__progress::-moz-progress-bar {
        width: 40vw;
    }
}



