@font-face {
    font-family: 'Letrista Script';
    src: url('./fonts/Letrista-Font/LetristaScript.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/Proxime-Nova/proximanova_regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/Proxime-Nova/proximanova_light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/Proxime-Nova/proximanova_bold.otf');
    font-weight: bold;
    font-style: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

*{
    box-sizing: border-box;
}

body{
    font-family: "Proxima Nova";
}  

/* center */

.center{
    padding:30px 330px 180px;
}

/* center header */

.center .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.search{
    width: 100%;
    max-width: 660px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(215,216,217,0.7);

    padding: 0 20px 0 30px;
    display: flex;
    align-items: center;
}

.search__icon{
    background: none;
    border: none;
    cursor: pointer;
}

.search__input{
    max-width: 660px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    outline: none;

    font-size: 16px;
    line-height: 40px;
    color: #b3b3b3;
    font-weight: 300;
    font-family: "Proxima Nova";
    cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile__photo{
    height: 60px;
    min-width: 60px;
    border-radius:50%;
    background-color: #657282;
}

.profile__img{
    width: 100%;
    height: 100%;
    border-radius:50%;
    vertical-align: middle;
}

.profile__name{
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: bold;
}

/* banner */

.banner{
   position: relative;
   padding-bottom: 30px;
}

.banner__img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    max-height: 360px;
}

.banner__text{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
}

.banner__subtitle{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Proxima Nova";
    white-space: nowrap;
}

.banner__title{
    font-size: 34px;
    letter-spacing: 3px;
    line-height: 44px;
    color: #ffffff;
    font-family: "Letrista Script";
    white-space: nowrap;
}

/* albums */

.albums{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(auto, 300px));
    gap: 30px;
}

.albums__item{
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
}

.albums__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* left */

.left, .rigth{
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #eaeaea;
}

.left{
    left: 0;
    top: 0;
}

/* logo */

.logo{
    padding: 32px;
    background-color: #ea2e49;
}

.logo__img{
    transform: translate(50%, 0);
}

/* nav */

.nav{
    padding: 45px 0 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.nav__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav__item{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    padding: 0 30px;
}

.nav__text{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

/* rigth */

.rigth{
    top: 0;
    right: 0;
}

/* rigth header */

.rigth .header{
    padding: 40px 30px;
    background-color: #77c4d3; 
}

.header__title{
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.header__title::before{
    content: url('./img/icon/playlist.svg');
    vertical-align: sub;
	margin-right: 15px;
}

/* playlist */

.playlist{
    padding: 30px 30px 0; 
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow-y: auto;  
}

.playlist__container::-webkit-scrollbar {
    width: 0;
}

.playlist__item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
    cursor: pointer;
}

.playlist__cover{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
}

.playlist__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.playlist__text{
    display: flex;
    flex-direction: column;
}

.playlist__title{
    font-size: 16px;
    line-height: 24px;
    color: #1e2029;
}

.playlist__author{
    font-size: 14px;
    line-height: 24px;
    color: #b3b3b3;
}

/* download */

.download{
    padding: 55px 55px 185px;
    position: absolute;
    background-color: #e1e1e1;
    bottom: 0;
    filter: drop-shadow(0 0 30px rgba(231,231,231,0.9));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download__title{
    font-size: 32px;
    line-height: 32px;
    color: #1b1d25;
    text-align: center;

    margin-bottom: 12px;
}

.download__title > span{
    color: #77c4d3;
    font-size: 36px;
    font-family: "Letrista Script";
}

.download__btn{
    font-size: 18px;
    line-height: 24px;
    color: #ea2e49;
    border-radius: 15px;
    border: 1px solid #ea2e49;
    padding: 10px 30px;
    cursor: pointer;
}

/* player */

.player{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 30px;
    background-color: #1b1d25;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.track{
    display: flex;
    gap: 25px;
    align-items: center;
    cursor: pointer;
    grid-area: track;
}

.track__cover{
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1b1d25;
}

.track__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.track__text{
    display: flex;
    flex-direction: column;
}

.track__title{
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    white-space: nowrap;
}

.track__author{
    font-size: 14px;
    line-height: 20px;
    color: #b3b3b3;
    font-weight: 300;
    white-space: nowrap;
}

.play-icons{
    display: flex;
    align-items: center;
    gap: 25px;
}

#play{
    grid-area: play;
}

#repeat{
    grid-area: repeat;
}

.play-icons__item{
    cursor: pointer;
}

.timeline{
    display: flex;
    align-items: center;
    grid-area: timeline;
}

.value{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
}

.timeline__progress{
    margin: 0 10px;
    width: 40vw;
    height: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.timeline__progress::-webkit-progress-bar {
    width: 40vw;
    border-radius: 6px;
    height: 10px;
    background-color: #333745;
    cursor: pointer;
}

.timeline__progress::-webkit-progress-value {
    border-radius: 6px;
    height: 10px;
    background-color: #ea2e49;
    cursor: pointer;
}

.timeline__progress::-moz-progress-bar {
    width: 40vw;
    height: 10px;
    border-radius: 6px;
    background-color: #333745;
    cursor: pointer;
}

.audio{
    display: flex;
    align-items: center;
    gap: 25px;
}

.audio__icon{
    cursor: pointer;
}

.audio__progress{
    width: 10vw;
    height: 10px;
    border-radius: 5px;
    background-color: #333745;
    cursor: pointer;
}

.audio__progress::-webkit-progress-bar {
    width: 10vw;
    height: 10px;
    border-radius: 5px;
    background-color: #333745;
    cursor: pointer;
}

.audio__progress::-webkit-progress-value {
    height: 10px;
    border-radius: 5px;
    background-color: #77c4d3;
    cursor: pointer;
}

.audio__progress::-moz-progress-bar {
    width: 10vw;
    height: 10px;
    border-radius: 5px;
    background-color: #333745;
    cursor: pointer;
}
